<!-- <p>beer works!</p> -->


<div class="content">
    <div class="flexbox-mainLogo">
      <img src="./assets/images/invisible_button.svg" onclick="checkSecretRedirect()" style="max-width:100%; max-height:100%; width:100%;" alt="Invisible button">
      <!-- <input type="button" id="hiddenButton"> -->
    </div>
    <div class="flexbox-content">

      <div class="flexbox-sensors">
        <p class="neonGlowTextPurple">{{temp}} &#8451;<br>{{pints}} pints</p>
      </div>

      <div class="flexbox-item-beerButton">
        <input type="image" src="./assets/images/beer.svg" id="spoutControl" alt="Push Button for Beer"/>
      </div>

    </div>
  </div>