<div *ngIf="secretActive == false; else secretContent">
  <div class="content">
    <div class="flexbox-mainLogo" (click)="addClick()">
      <img class="bg_neon" src="assets/images/craggs_lounge.svg" alt="Cool neon sign">
    </div>
    <div class="flexbox-content">
      <div class="flexbox-sensors">
        <p class="neonGlowTextPurple">{{temp | number:'1.1-1'}} &deg;C<br>{{pints | number:'1.0-0'}} pints</p>
      </div>

      <div class="flexbox-item-beerButton">
        <img (mousedown)="openBeer()" (touchstart)="openBeer()" (mouseup)="closeBeer()" (touchend)="closeBeer()" src="assets/images/beer.svg" id="spoutControl" alt="Push Button for Beer" />
      </div>

    </div>
  </div>
</div>

<ng-template #secretContent>
  <div class="content">
    <div class="flexbox-mainLogo">
      <img class="bg_neon" src="assets/images/craggs_lounge_red.svg" alt="Red neon sign">
      <img class="backArrow" (click)="backToBeer()" src="assets/images/back_arrow.svg" alt="Left facing neon arrow">
    </div>
    <div class="flexbox-content">
      <div class="flexbox-sensors">
        <p class="neonGlowTextRed">{{temp | number:'1.1-1'}} &deg;C<br>{{pints | number:'1.0-0'}} pints</p>
      </div>
      <div class="flexbox-item-beerButton">
        <img (mousedown)="openVodka()" (touchstart)="openVodka()" (mouseup)="closeVodka()" (touchend)="closeVodka()" src="assets/images/crossBones.svg" alt="Skull and Cross Bones Neon Sign" />
      </div>
    </div>
  </div>
</ng-template>
