<div class="content">
  <div class="flexbox-mainLogo">
    <img class="bg_neon" src="./assets/images/craggs_lounge_red.svg" alt="Red neon sign">
    <img class="backArrow" (click)="backToBeer()" src="./assets/images/back_arrow.svg" alt="Left facing neon arrow">
  </div>
  <div class="flexbox-content">
    <div class="flexbox-sensors">
      <p class="neonGlowTextRed">{{temp}} &deg;C<br>{{pints}} pints</p>
    </div>
    <div class="flexbox-item-beerButton">
      <img (click)="openVodka()" src="./assets/images/crossBones.svg" alt="Skull and Cross Bones Neon Sign"/>
    </div>
  </div>
</div>
<!-- {% endblock %} -->
